

<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
    <style>
        /* Add your custom CSS styles here */
    
    /* Add your custom CSS styles here */
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    table th {
      background-color: rgb(245, 195, 59);
      color: rgb(21, 2, 2);
      padding: 10px;
      text-align: left;
    }
    
    table td {
      background-color: rgb(230, 226, 218);
      color: rgb(27, 18, 18);
      padding: 10px;
      
    }
    
    table tr:nth-child(even) {
      background-color: #e95a5a;
    }
    
    table tr:hover {
      background-color: #b0b2b6;
    }
    
    table a {
      display: inline-block;
      color: rgba(241, 138, 21, 0.952);
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 3px;
      transition: background-color 0.3s ease;
    }
    
    table a:hover {
      background-color: #f3c7c7;
    }
    </style>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Tiffin Service</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="/static/image/x-icon">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="/static/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">
					<img src="/static/images/logo1.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						
						<li class="nav-item active"><a class="nav-link" href="/UserReghome/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/uvcanteen/">Canteen</a></li>
						<li class="nav-item"><a class="nav-link" href="/uvcanteenorder/">Requested Canteen</a></li>
						<li class="nav-item"><a class="nav-link" href="/custmyorder/">My Orders</a></li>
                        <li class="nav-item "><a class="nav-link" href="/login/">LogOut</a></li>
						
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Today Time table</h1>
					
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Menu -->



	<!-- <h1 class="nav-item active"><a class="nav-link" href="/calamt/">Payment</a></h1> -->



	
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-12"> -->
					<!-- <div class="heading-title text-center"> -->
						<!-- <h2>Special Menu</h2> -->
                        <!-- <div class="row"> -->
                            <div class="col-lg-6">
                                <form action="/foodact/">
                                    <div class="row">
										<div class="col-md-12">
											<div class="form-group">
												
												<input type="hidden" value="{{cnid}}" id="ds" class="form-control" name="cnid" required data-error="Please enter your District">
                                            
												<div class="help-block with-errors"></div>
											</div> 
										</div>
                            
										<div class="col-md-12">
                                            <div class="form-group">
											<h1>Order</h1><br/>
											<!-- <label>Mark Your Mess</label> -->
                                                <lable style="color: black;font-size: medium;"
>BreakFast</lable> &nbsp;&nbsp;<input type="checkbox" name="dish"  placeholder="day" id="am"  style="height:20px;width:20px" data-error="Please enter Dish type" value="Breakfast">
												

                                              <select name="name1">
                                                <option value="">choose</option>
                                                {% for i in cr %}
                                                <option value="{{i.adr}}">Home</option>
                                                <option value="{{i.office}}">Office</option>
                                                {% endfor %}
                                              </select>

											  <lable style="color: black;font-size: medium;"
											  >Lunch</lable> &nbsp;&nbsp;<input type="checkbox" name="dish"  placeholder="day" id="am"  style="height:20px;width:20px" data-error="Please enter Dish type" value="Lunch">
                                              <select name="name2">
                                                <option value="">choose</option>
                                                {% for i in cr %}
                                                <option value="{{i.adr}}">Home</option>
                                                <option value="{{i.office}}">Office</option>
                                                {% endfor %}
                                              </select>

											  <lable style="color: black;font-size: medium;"
											  >Dinner</lable> &nbsp;&nbsp;<input type="checkbox" name="dish"  placeholder="day" id="am"  style="height:20px;width:20px" data-error="Please enter Dish type" value="Dinner">
                                              <select name="name3">
                                                <option value="">choose</option>
                                                {% for i in cr %}
                                                <option value="{{i.adr}}">Home</option>
                                                <option value="{{i.office}}">Office</option>
                                                {% endfor %}

                                              </select>
											  <br/>
                                                <div class="help-block with-errors"></div>
                                            </div> 
                                        </div>
										<!-- <div class="col-md-12">
										
										<div class="col-md-12">
                                            <div class="form-group">
                                              <tr>Adrress</tr>
                                              <select name="name">
                                                <option value="">choose</option>
                                                {% for i in cr %}
                                                <option value="{{i.adr}}">{{i.adr}}</option>
                                                <option value="{{i.office}}">{{i.office}}</option>
                                                {% endfor %}

                                              </select> -->
<!--                                              
                                              <tr>
                                                <td><input type="checkbox" name="break" value="breakfast">Breakfast
                                                  <input type="checkbox" name="lunch" value="lunch">lunch
                                                  <input type="checkbox" name="break" value="dinner">Dinner</td>
                                              </tr> -->
												<!-- <label>Dish Name</label> -->
												
                                                <!-- <select  placeholder="category" id="am" class="form-control" name="category" required data-error="Please enter category ">
                                                    {% for i in cr %}
													<option value="{{i.mid}}">{{i.dish}}</option>
                                                    {% endfor %}
						         					</select> -->
                                                <!-- <div class="help-block with-errors"></div>
                                            </div> 
                                        </div> -->
                                        <div class="submit-button text-center">
                                            <button class="btn btn-common" id="submit" type="submit">submit</button>
											<!-- <h1 class="nav-item active"><a class="nav-link" href="/calamt/">Payment</a></h1> -->
                                            <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                            <div class="clearfix"></div> 
                                        </div>
                                    	
                                    </div>            
                                </form>
                            </div>
                            <div class="col-lg-6">
                                                            </div>
                        <!-- </div> -->
                        
                    <!-- </div> -->
                <!-- </div> -->
						<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
					</div>
				</div>

			</div>
			
				
			<div class="row special-list">
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<img src="/static/images/img-01.jpg" class="img-fluid" alt="Image">
						<!-- <div class="why-text">
							<h4>Special Drinks 1</h4>
							<p>Sed id magna vitae eros sagittis euismod.</p>
							<h5> $7.79</h5>
						</div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<img src="/static/images/img-02.jpg" class="img-fluid" alt="Image">
						<!-- <div class="why-text">
							<h4>Special Drinks 2</h4>
							<p>Sed id magna vitae eros sagittis euismod.</p>
							<h5> $9.79</h5>
						</div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<img src="/static/images/img-03.jpg" class="img-fluid" alt="Image">
						<!-- <div class="why-text">
							<h4>Special Drinks 3</h4>
							<p>Sed id magna vitae eros sagittis euismod.</p>
							<h5> $10.79</h5>
						</div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid lunch">
					<div class="gallery-single fix">
						<img src="/static/images/img-04.jpg" class="img-fluid" alt="Image">
						<!-- <div class="why-text">
							<h4>Special Lunch 1</h4>
							<p>Sed id magna vitae eros sagittis euismod.</p>
							<h5> $15.79</h5>
						</div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid lunch">
					<div class="gallery-single fix">
						<img src="/static/images/img-05.jpg" class="img-fluid" alt="Image">
						<!-- <div class="why-text">
							<h4>Special Lunch 2</h4>
							<p>Sed id magna vitae eros sagittis euismod.</p>
							<h5> $18.79</h5>
						</div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid lunch">
					<div class="gallery-single fix">
						<img src="/static/images/img-06.jpg" class="img-fluid" alt="Image">
						<!-- <div class="why-text">
							<h4>Special Lunch 3</h4>
							<p>Sed id magna vitae eros sagittis euismod.</p>
							<h5> $20.79</h5>
						</div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid dinner">
					<div class="gallery-single fix">
						<img src="/static/images/img-07.jpg" class="img-fluid" alt="Image">
						<!-- <div class="why-text">
							<h4>Special Dinner 1</h4>
							<p>Sed id magna vitae eros sagittis euismod.</p>
							<h5> $25.79</h5>
						</div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid dinner">
					<div class="gallery-single fix">
						<img src="/static/images/img-08.jpg" class="img-fluid" alt="Image">
						<!-- <div class="why-text">
							<h4>Special Dinner 2</h4>
							<p>Sed id magna vitae eros sagittis euismod.</p>
							<h5> $22.79</h5>
						</div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid dinner">
					<div class="gallery-single fix">
						<img src="/static/images/img-09.jpg" class="img-fluid" alt="Image">
						<!-- <div class="why-text">
							<h4>Special Dinner 3</h4>
							<p>Sed id magna vitae eros sagittis euismod.</p>
							<h5> $24.79</h5>
						</div> -->
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- End Menu -->

	
	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					
			</div>
		</div>
		
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="/static/js/jquery.superslides.min.js"></script>
	<script src="/static/js/images-loded.min.js"></script>
	<script src="/static/js/isotope.min.js"></script>
	<script src="/static/js/baguetteBox.min.js"></script>
	<script src="/static/js/form-validator.min.js"></script>
    <script src="/static/js/contact-form-script.js"></script>
    <script src="/static/js/custom.js"></script>
</body>
</html>